<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:annotation-config />
	<mvc:annotation-driven />

	<bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.show.sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>info.fcrp.keepitsafe.model.ModelObject</value>
				<value>info.fcrp.keepitsafe.model.Secret</value>
				<value>info.fcrp.keepitsafe.model.Keep</value>
				<value>info.fcrp.keepitsafe.model.Right</value>
				<value>info.fcrp.keepitsafe.model.User</value>
			</list>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="keepDAO" class="info.fcrp.keepitsafe.dao.KeepDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="rightDAO" class="info.fcrp.keepitsafe.dao.RightDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userDAO" class="info.fcrp.keepitsafe.dao.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="keepBean" class="info.fcrp.keepitsafe.bean.KeepBeanImpl">
	</bean>

	<bean id="cryptBean" class="info.fcrp.keepitsafe.bean.CryptBeanImpl">
	</bean>

	<bean id="keepService" class="info.fcrp.keepitsafe.service.KeepService">
	</bean>

	<mvc:interceptors>
    	<bean class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
        	<property name="sessionFactory">
            	<ref local="sessionFactory" />
        	</property>
        	<property name="flushModeName" value="FLUSH_AUTO"/>
    	</bean>
	</mvc:interceptors>


</beans>